{% extends "base.html" %}


{% block active_students %}active{% endblock active_students %}


{% block title %}SD Academy - Add student{% endblock title %}


{% block content %}


{% include "include/students_count_include.html" %}
       <h1 id="texth">{{ title }}</h1>

      <div style="margin-left:40px;margin-right:40px;margin-bottom:40px">
         <form method="post">
         {% csrf_token %}
         <table class="table table-hover">
         {{ form.as_table }}
         </table>
         <input type="submit" value="Создать">
         </form>
      </div>
  
{% endblock content %}  