{% extends "base.html" %}


{% block active_students %}active{% endblock active_students %}


{% block title %}SD Academy - Student details{% endblock title %}


{% block content %}


{% include "include/students_count_include.html" %}
       <h1 id="texth">{{ students_details.name }} {{ students_details.surname }}</h1>

            <div style="margin-left:40px;margin-right:40px">
         <table class="table table-hover">
            
            <tbody>
               <tr>
               <td>дата рождения</td>
               <td>{{ students_details.date_of_birth }}</td>
               </tr>  

               <tr>
               <td>адрес</td>
               <td>{{ students_details.address }}</td>
               </tr>  

               <tr>
               <td>почта</td>
               <td>{{ students_details.email }}</td>
               </tr>  

               <tr>
               <td>логин skype</td>
               <td>{{ students_details.skype }}</td>
               </tr>  

               <tr>
               <td>телефон</td>
               <td>{{ students_details.phone }}</td>
               </tr>  

               <tr>
               <td>курсы</td>
               <td>
               {% for course in course_list %}
               
                  <a href="/courses/{{ course.id }}/">{{ course.name }}</a></br>
               
               {% endfor %}  

               </td>
               </tr>  
            </tbody>
         </table>
      </div>
  
{% endblock content %}  