<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>SD Academy - Contacts</title>
      <link href="../static/css/bootstrap.css" rel="stylesheet">
      <link href="../static/css/style.css" rel="stylesheet">
   </head>
   <body>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="../static/js/bootstrap.js"></script>
      <nav class="navbar navbar-default">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               </button>
               <a class="navbar-brand" href="index.html">
               <img style="width: 28px" alt="Brand" src="../static/images/logo.png">
               </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li><a href="index.html">Main</a></li>
                  <li><a href="contact.html">Contacts</a></li>
                  <li><a href="student_list.html">Students</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <div style="margin:auto; padding:20px">
         <div class="item">
            <img class="contact_ava" src="../static/images/avatar1.png"/>
            <span class="caption">
               <h3>Founder</h3>
               <div id="row">
                  <b>Name: </b>Вася Куролесов<br>
                  <b>Email: </b>kurolesov@yahoo.com<br>
                  <b>Phone: </b>+380679998877<br>
                  <b>Skype: </b>kuro88<br>
               </div>
            </span>
         </div>
         <div class="item">
            <img class="contact_ava" src="../static/images/avatar2.png"/>
            <span class="caption">
               <h3>Director</h3>
               <div id="row">
                  <b>Name: </b>Доктор Ватсон<br>
                  <b>Email: </b>watson@gmail.com<br>
                  <b>Phone: </b>+380671234567<br>
                  <b>Skype: </b>prostodoctor<br>
               </div>
            </span>
         </div>
         <div class="item">
            <img class="contact_ava" src="../static/images/avatar3.png"/>
            <span class="caption">
               <h3>Manager</h3>
               <div id="row">
                  <b>Name: </b>Фрэнк Синатра<br>
                  <b>Email: </b>sinatra@ukr.net<br>
                  <b>Phone: </b>+380675557755<br>
                  <b>Skype: </b>pSina9<br>
               </div>
            </span>
         </div>
      </div>
      <div style="visibility:hidden">
      <p class="small1">hello</p>
      <p class="small2">hello</p>
      <p class="small3">hello</p>
      <p class="small4">hello</p>
      <p class="small5">hello</p>
      </div>
   </body>
</html>