{% extends "base.html" %}


{% block active_main %}active{% endblock active_main %}


{% block title %}SD Academy - Main{% endblock title %}


{% block content %}


{% include "include/students_count_include.html" %}
      <h1 id="texth">Школа программирования "SD Academy"</h1>
      <h4 id="texth">В нашей школе каждый сможет выбрать курс по душе!!!</h4>

            <div style="margin-left:40px;margin-right:40px">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th>Курс</th>
                  <th>Описание</th>
               </tr>
            </thead>
            <tbody>
            {% for item in course_list %}
               <tr>
                  <td><a href="{% url "courses:detail" item.id %}">{{ item.name|upper }}</a></td>
                  <td>{{ item.short_description|title }}</td>
               </tr>
            {% endfor %}   
            </tbody>
         </table>
      </div>
{% endblock content %}  
