<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>SD Academy - Main</title>
      <link href="../static/css/bootstrap.css" rel="stylesheet">
      <link href="../static/css/style.css" rel="stylesheet">
   </head>
   <body>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="../static/js/bootstrap.js"></script>
      <nav class="navbar navbar-default">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               </button>
               <a class="navbar-brand" href="index.html">
               <img style="width: 28px" alt="Brand" src="../static/images/logo.png">
               </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li><a href="index.html">Main</a></li>
                  <li><a href="contact.html">Contacts</a></li>
                  <li><a href="student_list.html">Students</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <h2 id="texth">Korob Oksana</h2>
      <div style="margin:auto; padding:20px">
      <div class="item">
         <img class="contact_ava" src="../static/images/avatar4.png"/>
         <span class="caption">
         <br>
            <h3>Student's card:</h3>
            <table class="table table-bordered">
               <tbody>
                  <tr class="info">
                     <th>Surname</th>
                     <td>Korob</td>
                  </tr>
                  <tr class="info">
                     <th>Name</th>
                     <td>Oksana</td>
                  </tr>
                  <tr class="info">
                     <th>Patronymic</th>
                     <td>Nikolaevna</td>
                  </tr>
                  <tr class="info">
                     <th>Birth Date</th>
                     <td>1993-08-16</td>
                  </tr>
                  <tr class="info">
                     <th>Address</th>
                     <td>Украина, г. Харьков, ул. С. Бандеры, 8, кв. 9</td>
                  </tr>
                  <tr class="info">
                     <th>E-mail</th>
                     <td>oksana_korob@hotmail.com</td>
                  </tr>
                  <tr class="info">
                     <th>Skype</th>
                     <td>bOx90</td>
                  </tr>
               </tbody>
            </table>
            <br>
            <h3>Performance:</h3>
            <table class="table table-bordered">
               <thead>
                  <tr class="warning">
                     <th>Course</th>
                     <th>Week</th>
                     <th>Control type</th>
                     <th>Grade</th>
                  </tr>
               </thead>
               <tr class="info">
                  <td rowspan="5" style="vertical-align:middle">PY101 введение в Python</td>
                  <td rowspan="3" style="vertical-align:middle">Week 1</td>
                  <td>Tests</td>
                  <td>100%</td>
               </tr>
               <tr class="info">
                  <td>Problem Task #1</td>
                  <td>100%</td>
               </tr>
               <tr class="info">
                  <td>Problem Task #2</td>
                  <td>10%</td>
               </tr>
               <tr class="info">
                  <td rowspan="2" style="vertical-align:middle">Week 2</td>
                  <td>Tests</td>
                  <td>100%</td>
               </tr>
               <tr class="info">
                  <td>Problem Task #1</td>
                  <td>100%</td>
               </tr>
            </table>
         </span>
      </div>
   </body>
</html>