{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>SD Academy - Main</title>
      <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
      <link href="{% static 'css/style.css' %}" rel="stylesheet">
   </head>
   <body>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="{% static 'js/bootstrap.js' %}"></script>
      <nav class="navbar navbar-default">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               </button>
               <a class="navbar-brand" href="{% url 'index' %}">
               <img style="width: 28px" alt="Brand" src="{% static 'images/logo.png' %}">
               </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li><a href="{% url 'index' %}">Main</a></li>
                  <li><a href="{% url 'contact' %}">Contacts</a></li>
                  <li><a href="{% url 'student_list' %}">Students</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <h1 id="texth">SD Academy Students</h1>
      <h5 id="texth">List of students enrolled into our course 2015</h5>
      <div style="margin-left:40px;margin-right:40px">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th>No</th>
                  <th>Surname</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Skype</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><a href="{% url 'student_detail' %}">1</a></td>
                  <td>Korob</td>
                  <td>Oksana</td>
                  <td>Украина, г. Харьков, ул. С. Бандеры, 8, кв. 9</td>
                  <td>bOx90</td>
               </tr>
               <tr>
                  <td>2</td>
                  <td>Pranchenko</td>
                  <td>Olga</td>
                  <td>Украина, г. Харьков, ул. Нижнегиёвская, 88</td>
                  <td>olala</td>
               </tr>
               <tr>
                  <td>3</td>
                  <td>Ivaschenko</td>
                  <td>Dmitriy</td>
                  <td>Украина, г. Харьков, пр-т. Леннона, 13, кв. 33</td>
                  <td>ivaiva</td>
               </tr>
               <tr>
                  <td>4</td>
                  <td>Darmoedov</td>
                  <td>Vasiliy</td>
                  <td>Украина, г. Харьков, ул. Полтавский шлях, 98, кв. 1</td>
                  <td>darmoedov_skype</td>
               </tr>
               <tr>
                  <td>5</td>
                  <td>Karpenko</td>
                  <td>Irina</td>
                  <td>Украина, г. Харьков, ул. Ощепкова, 18, кв. 3</td>
                  <td>iron0</td>
               </tr>
               <tr>
                  <td>6</td>
                  <td>Lodonov</td>
                  <td>Pavel</td>
                  <td>Украина, г. Харьков, ул. Клочковская, 24, кв. 40</td>
                  <td>pavel23</td>
               </tr>
            </tbody>
         </table>
      </div>
            <div style="display:none">
      <div class="small1">hello1</div>
      <div class="small2">hello2</div>
      <div class="small3">hello3</div>
      <div class="small4">hello4</div>
      <div class="small5">hello5</div>
      <div class="small6">hello6</div>
      </div>
   </body>
</html>