{% extends "base.html" %}


{% block title %}SD Academy - Course details{% endblock title %}


{% block get_student %}?course_id={{ course_details.id }}{% endblock get_student%}


{% block content %}


<div style="margin-left:15px;float:left">
<a href="add-lesson/">
<button class="btn btn-primary" type="button">
<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  Добавить занятие
</button>
</a>
</div>
<br>



      <h1 id="texth">{{ course_details.name }}</h1>
      <h4 id="texth">{{ course_details.description|truncatechars:32 }}</h4>

    <div style="margin-left:40px;margin-right:40px">
        <h3 id="texth">Преподаватели:</h3>
        <table class="table table-bordered">
            <thead>
                <tr class="warning">
                    <th>Учитель</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    <a href="{% url "coaches:detail" course_details.coach.id %}">
      {{ course_details.coach }} {{ course_details.coach.user.last_name }}</br>
      </a>
      
            </td>
                </tr>
                <tr>
                <td>
                   
                   {{ course_details.coach.description }}
                </td>
                </tr>
            </tbody>
        </table>

<table class="table table-bordered">
            <thead>
                <tr class="warning">
                    <th>Ассистент</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    <a href="{% url "coaches:detail" course_details.assistant.id %}">
      {{ course_details.assistant }} {{ course_details.assistant.user.last_name }}</br>
      </a>
      
            </td>
                </tr>
                <tr>
                <td>
                   
                  {{ course_details.assistant.description }}
                </td>
                </tr>
            </tbody>
        </table>
    </div>   
                 <div style="margin-left:40px;margin-right:40px">
                 <h3 id="texth">План курса:</h3>
         <table class="table table-hover">
            <thead>
               <tr>
                  <th>#</th>
                  <th>Тема</th>
                  <th>Описание</th>
               </tr>
            </thead>
            <tbody>
            {% for item in lesson_list %}
               <tr>
                  <td>{{ item.order }}</td>
                  <td>{{ item.subject }}</td>
                  <td>{{ item.description }}</td>
               </tr>
            {% endfor %}   
            </tbody>
         </table>
      </div>
{% endblock content %}  